<style>
  .container > div {
    margin: 0 10px;

  }
</style>
<div class="container" style="display: grid; grid-template-columns: 25% 25% 50%; width: 50%">
  <div><%= item.user.last_name %></div>
  <div><%= item.document_type %></div>
  <div><%= item.ArchiveDocument.first.file_name %></div>
</div>
