<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= render partial: 'some_partial', locals: {honky: @honk} %>
<% @archive_items.each do |ai| %>
  <%= render partial: 'item', locals: {item: ai} %>
<% end %>
